* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url(/image/background.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#left,
#right {
    width: 100%;
    max-width: 320px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #333;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.6);
}

.box {
    background-color: #ff8a80;
    color: #000;
    height: 60px;
    margin: 12px;
    padding: 0 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    cursor: grab;
}

.box:hover {
    background-color: #f66767;
    transform: scale(1.03);
    transition: all 0.2s ease;
}


.box img {
    width: 30px;
    margin-right: 15px;
    margin-left: 20px;
}